.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-areas:
    "d m";
    background-color: aliceblue;
    padding: 10px;
}

.dialogItems {
    grid-area: d;
    font-size: 20px;
    font-weight: bold;
}

.dialogItems .active {
    color: gold;
}

.dialog {
    display: block;
}

.messages {
    grid-area: m;
}

.messages .message {
    color: darkblue;
}


